
.main-user-info {
    margin: auto;
    margin-top: 20px;
    display: flex;
    width: 35%;
    flex-direction: column;
    color: black; 
    border-radius: 10px;
    background-color:rgb(187, 234, 234); 
    /* background: linear-gradient(145deg, rgb(187, 234, 234), #0886d9); */
    
    align-items: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.main-user-info > .user-avatar-main {
    margin: 3%;
    width: 25%;
    height: 25%;
    border-radius: 50%;
}

.buttons{
    max-width: 70%;
    margin:auto;
    height: 30%;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

body {
    background-color: rgb(44, 55, 155);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.name-and-org {
    margin:15px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.Name {
    width: 100%;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.add-new-project{
    margin-bottom:10%;
    margin-top: 10%;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#create-new-b{
    margin-bottom:10px;
    margin-left: 5px;
    width: 100%;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.projects-row {
    box-sizing: border-box;
    width:30%;
    margin: 0 -5px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.projects-row2 {
    box-sizing: border-box;
    width:30%;
    margin: 0 -5px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

/* Clear floats after the columns */
.projects-row:after {
    box-sizing: border-box;
    content: "";
    display: table;
    clear: both;
    margin-left:5%;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.projects-row2:after {
    box-sizing: border-box;
    content: "";
    display: table;
    clear: both;
    margin-left:5%;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.new-button {
    margin: 5px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

@media screen and (max-width: 1080px) {
    .new-button {
      margin:auto;
    }
    .projects-row {
        align-items: center;
        box-sizing: border-box;
        width:70%;
        margin: 0 -5px;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    }
    .projects-row2 {
        align-items: center;
        box-sizing: border-box;
        width:70%;
        margin: 0 -5px;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    }
  }


  .projects-main{
    margin: auto;
    margin-top: 20px;
    display: flex;
    width: 35%;
    flex-direction: column;
    color: black; 
    background-color:rgb(187, 234, 234); 
    /* background: linear-gradient(145deg, rgb(187, 234, 234), #0886d9);  */
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  }

  .buttons2{
    max-width: 70%;
    margin:auto;
    height: 30%;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    display: flex;
    flex-direction: row;
  }
  
  .add-new-b{
    margin: 15px;
    max-width:100%;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}